@import "../../../css-config/mixins.scss";
.shop-by-category {
    margin: 25px 0;
    @include md {
        margin: 50px 0;
    }
    .categories {
        display: flex;
        flex-flow: wrap;
        gap: 10px;
        .category {
           color: black;
           font-size: 12px;
           display: flex;
          justify-content: center;
          align-items: center;
          transition: all ease 0.3s;
            background-color: rgb(255, 255, 255);
            width: calc(50% - 5px);
            cursor: pointer;
            @include md {
                width: calc(25% - 10px);
                font-size: 120px;
                
            }
            img {
                width: 50%;

                
            }
            
            &:hover {
              
                    transform: scale(1.09);
                
            }

            
        }

        .title{
          font-size: 16px;
          font-family: 'Readex Pro', sans-serif;
          display: flex;
          justify-content: center;
          align-items: center;

          @include md {
            width: calc(25% - 10px);
            font-size: 23px;
          
          
        }

      
      }}

        
    



    

    
}
